<div class="family-list-container" >
    <div class="header mb-3">
        <h5 class="mt-2">{{title}}</h5>
        <button *ngIf="enableAddFamily" mat-button color="primary" (click)="searchFamilies()">
            <mat-icon>add_circle</mat-icon>
            Family
        </button>
    </div>
    <div class="no-data py-3" *ngIf="families.length == 0">No Families</div>
    <mat-grid-list cols="2" rowHeight="105px" gutterSize="5px">
        <mat-grid-tile *ngFor="let family of families">
            <div class="family-item" >
                <mat-checkbox class="check" (change) = "familySelectionChange($event, family)" *ngIf="selectionMode"></mat-checkbox>
                <mat-icon class="check" (click) = "familyRemove(family)" *ngIf="removeMode">remove_circle_outline</mat-icon>
                <app-image-uploader  (click)="viewFamily(family)" [object]="family" [upload]="false"></app-image-uploader>
                <div>{{family.name}} Family</div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>