.image-uploader{
    .image{
        width: 100%;
        justify-content: center;
        display: flex;
    }
    .upload-text{
        width: 100%;
        justify-content: center;
        display: flex;
    }
   
}