<div *ngIf="!isSearchFamily" class="meber-detail-container">
    <mat-toolbar>
        <mat-toolbar-row class="spacer">
            <button mat-mini-fab color="primary" (click)="cancel()">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <div class="toolbar-header">{{member.firstName}} {{member.lastName}}</div>
            <button mat-mini-fab color="primary" (click)="edit()" >
                <mat-icon>edit</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="mt-3">
        <app-image-uploader [object]="member" [upload]="true"></app-image-uploader>
        <div class="detail pt-3 mt-3">
            <div class="prop">
                <!-- <label class="label">Phone</label> -->
                <span class="value pt-2">{{member.phone}}</span>
                <button class="ml-3" mat-mini-fab color="primary">
                    <mat-icon>phone_enabled</mat-icon>
                </button>
            </div>
        
            <div class="prop">
                <!-- <label class="label">Email</label> -->
                <span class="value pt-2">{{member.email}}</span>
                <button class="ml-3" mat-mini-fab color="primary">
                    <mat-icon>email</mat-icon>
                </button>
            </div>
            <div class="prop">
                <!-- <label class="label">Date Of Birth</label> -->
                <span class="value pt-2">{{member.dob}}</span>
            </div>
        </div>
                

            <!-- <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name" [(ngModel)]="member.firstName" required name="firstName">
                    <mat-hint></mat-hint>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last Name" [(ngModel)]="member.lastName" required name="lastName">
                    <mat-hint></mat-hint>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Phone Number</mat-label>
                    <input matInput placeholder="Phone Number" [(ngModel)]="member.phone" required name="phone">
                    <mat-hint></mat-hint>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Enter Email Address" [(ngModel)]="member.email"  required name="email" type="email" >
                    <mat-hint></mat-hint>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field>
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="member.dob" >
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </mat-grid-tile> -->
        <div class="px-3">
            <app-family-list title = "Families" [removeMode]="true" [member]="member" [enableAddFamily]="true" [families]="member.families" (searchFamily) = "searchFamilies()"></app-family-list>
        </div>
    </div>
</div>
<div *ngIf="isSearchFamily">
    <app-search-family [selectionMode]="true" (cancel) = "cancelAddFamily()" (selected)="familiesSelected($event)"></app-search-family>
</div>
