<div class="mt-3 member-list-container" >
    <div class="header">
        <h2>{{title}}</h2>
        <button *ngIf="enableAddMember" mat-button color="primary" (click)="searchMembers()">
            <mat-icon>add_circle</mat-icon>
            Member
        </button>
    </div>
    
    <div class="no-data py-3" *ngIf="members.length == 0">No Members</div>
    <mat-grid-list cols="2" rowHeight="1:1" >
        <mat-grid-tile *ngFor="let member of members" (click)="viewMember(member)">
            <div class="member-item">
                <mat-checkbox (change) = "memberSelectionChange($event, member)" *ngIf="selectionMode"></mat-checkbox>
                <app-image-uploader [object]="member" [upload]="false"></app-image-uploader>
                <div>{{member.firstName}} {{member.lastName}} </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>