/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

@font-face {
    font-family: "ubuntu";
    src: url("assets/fonts/Ubuntu-Regular.ttf");
  }
  
  @font-face {
    font-family: "ubuntu-medium";
    src: url("assets/fonts/Ubuntu-Medium.ttf");
  }
  
  @font-face {
    font-family: "ubuntu-light";
    src: url("assets/fonts/Ubuntu-Light.ttf");
  }

  
html, body { height: 100%; }
body{
    max-width: 400px;
    margin: auto !important;
    // border-left: 1px solid #e8e8e8;
    // border-right: 1px solid #e8e8e8;
}
body { margin: 0; font-family: ubuntu }
div, label, span{
    font-family: ubuntu
}
h1,h2,h3,h4, h5{
    font-family: ubuntu-medium;
    margin-bottom: 0px !important;
}

input{
    font-family: ubuntu;
    font-size: 1rem;
}

.toolbar-header{
    font-family: ubuntu-medium !important;
}

.big-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.small-image{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.xsmall-image{
    width: 50px;
    height: 50px;
}

.form-field{
    width: 80%;
    max-width: 300px;
}

.spacer{
    justify-content: space-between;
    display: flex;
}
