<div class="search-member">
    <mat-toolbar>
        <mat-toolbar-row class="spacer">
            <button mat-mini-fab color="primary" (click)="cancelHandler()">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <input class="search-box" type="text" placeholder="Member Name..." (keyup)="searchMembers($event)">
            <button mat-mini-fab color="primary" *ngIf="selectionMode" (click)="doneSelection()">
                <mat-icon>done</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="mt-3 px-3">
        <app-member-list title = "Matching Members" [enableAddMember]="false" [selectionMode] = "selectionMode" [members]="members"></app-member-list>
    </div>
    
</div>
