.view-family-container{
    .about{
        color: #717171;
        margin: 0% 10%;
    }
    .family-name{
        font-size: 1.3rem;
        text-align: center;
        border-bottom: 1px solid #ccc;
    }
}