<div class="view-family-container">
    <mat-toolbar>
        <mat-toolbar-row class="spacer">
            <button mat-mini-fab color="primary" (click)="cancel()">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <button mat-mini-fab color="primary" (click)="edit()">
                <mat-icon>edit</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div>
        <app-image-uploader [object]="family" [upload]="true"></app-image-uploader>
        <mat-grid-list class="mt-3  " cols="1" rowHeight="100px" >
            <mat-grid-tile>
                <div>
                    <label>Family Name</label>
                    <div>{{family.name}}</div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div>
                    <label>About Family</label>
                    <div>{{family.about}}</div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
        <!-- <mat-grid-list class="mt-3  " cols="1" rowHeight="100px" >
            <mat-grid-tile>
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Family Name</mat-label>
                    <input matInput placeholder="Family Name" [(ngModel)]="family.name" required >
                    <mat-hint></mat-hint>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="form-field"  appearance="outline">
                    <mat-label>About</mat-label>
                    <textarea matInput placeholder="About Family" [(ngModel)]="family.about" ></textarea>
                    <mat-hint></mat-hint>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list> -->
    </div>
    <div class="mt-3 px-3">
        <app-member-list title = "Members" [enableAddMember]="true" [selectionMode] = "false" [members]="family.members"></app-member-list>
    </div>
</div>

